.top-header {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #333333;
}

.header-btn {
  color: white;
  background-color: #008cba;
  cursor: pointer;
  border-radius: 1rem;
  padding: 10px 10px;
  color: #fff;
  border: none !important;
}
.header-btn:nth-child(3) {
  background-color: red;
}
.header-btn:nth-child(2):hover {
  background-color: red;
}
.header-btn:hover {
  background-color: #3a6591;
}
